body {
    margin: 0;
    overflow: hidden;
    background: #1e1e2f;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
}
